*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .color-green{
    color: #30B868 ;
 }

 .color-ash p{
    color: #627382 ;
 }
 .size-medium{
    font-weight: 500;
 }

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px
}

h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 160px;
}

.nav-menu{
    display: flex;
    gap: 32px;
}

 .logo img{
    max-width: 140px;
}

li{
    list-style: none;
}

nav a{ 
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
nav a:hover{
    color: #30B868;
}

.btn{
    background: #30B868;
    color: white;
    padding: 16px 12px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
}


.btn:hover{
    background: #28a75f;
    cursor: pointer;
}

.secondary-btn{
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 16px 12px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.secondary-btn:hover{
    opacity: 0.7;
    cursor: pointer;
    
}

#banner{
    height: 680px;
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

#banner .banner-container{
    height: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    
}

.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

.banner-content .banner-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    max-width: fit-content;
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #30B868;
    margin-bottom: 20px;
    

}

.banner-content h1 {
    font-size: 72px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 20px;

}
.banner-content p {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.green-dot{
    width: 8px;
    height: 8px;
    background: #30B868;
    border-radius: 50%;
    display: inline-block;
}

.banner-button{
    justify-content: center;
    display: flex;
    gap: 30px;
}


#notes{
    margin-top: 70px;
    margin-bottom: 120px;
}

#notes .notes-container{
    margin: 0 auto;
    text-align: center;
    /* padding: 0 120px; */
    max-width: 1360px;
    /* border: 1px solid green; */
}

.section-heading{
    margin-bottom: 47px;
    
}
.section-heading h2{
    font-size: 48px;
    font-weight: 700;
}

.section-heading p{
    color: #627382;
}


.notes-container .card-container{
    display: flex;
    gap: 24px;
}

.notes-card {
    padding: 55px 24px;
    border-radius: 12px;
    box-shadow: 0 10px 40px #00000010;
    text-align: center;

}

.notes-card:hover{
    cursor: pointer;
    background-color: #e8e8e8;

}

.notes-card img {
    max-width: 60px;
    padding: 14px;
    background-color: #F95555;
    border-radius: 100%;
    margin-bottom: 16px;
}

.notes-card p {
    margin-top: 16px;
}


.solution-container{
    /* border: 1px solid red; */
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    align-items: center;
    gap: 60px; 
    border-radius: 10px;
}

.solution-image{
    max-width: 100%;
}

.solution-content{
    max-width: 600px;
}

.points{
    font-weight: 500;
    margin-top: 40px;
}

.points p {
    display: flex; 
    gap: 12px;
    margin-bottom: 16px;
    color: #001931;
}


#early-access{
    background: white;
    margin-top: 100px;
}

#early-access .access-container{
    background-color: #F7F6F2;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    border-radius: 10px;
}

.access-container h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.access-container p{
    line-height: 24px;
    margin-bottom: 30px;
}

.access-container .btn{
    margin-bottom: 18px;
}
.access-note{
    margin-top: 20px;
    font-size: 14px;
}

footer{
    margin-top: 120px;
    background-color: #001931;
    color: white;
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 84px 120px;
}

.footer-right p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-right .social-icons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}
.social-icons i{
    font-size: 20px;
    color: #FFFFFF;}

.social-icons i:hover{
    color:#627382
}

.footer-bottom{
    font-size: 16px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    opacity: 0.6;
}